.about {
  padding: 4rem 0;
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  
  .container {
    display: flex;
    flex-direction: column; // Stack vertically on smaller screens
    gap: 2rem;
    align-items: center;
    justify-content: center; // Ensures text and image
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--container-background);

    @media (min-width: 768px) {
      flex-direction: row;
    }
    
    .text-content {
      flex: 1;
      padding-left: 3rem;
      padding-right: 6rem; // Adds right padding for spacing between text and image
    }

    .image-content {
      flex: 1;
      padding-left: 2rem; // Adds left padding for spacing
    }

    h2 {
      font-size: 2.5rem;
      margin-bottom: 1rem;
    }

    p {
      font-size: 1.2rem;
      line-height: 1.6;
    }

    img {
      width: 100%;
      max-width: 500px; // Limit image size to not overwhelm the text
      height: auto;
      border-radius: 6px; // Optional: rounded corners for images
    }
  }
}

// Theme-specific styles
[data-theme="dark"] .about {
  --text-color: #8eecf5; // Light blue text color for dark theme
  --container-background: #12131d; // Dark gray container background for dark theme
}

[data-theme="light"] .about {
  --text-color: #03045e; // Dark blue text color for light theme
  --container-background: #caf0f8; // Light blue container background for light theme
}
